stacks/ide/nodered-data/flows.json
[{"id":"8c69e080.455ce","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4af62e5a.7b9bb","type":"inject","z":"8c69e080.455ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["d374236c.69fd3"]]},{"id":"d57af9fd.67d898","type":"debug","z":"8c69e080.455ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":180,"wires":[]},{"id":"d374236c.69fd3","type":"function","z":"8c69e080.455ce","name":"","func":"msg.payload=\"test\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["d57af9fd.67d898"]]}]